*{
  background-color: #003806;
  color: whitesmoke;  
}


ul li  {
    color: whitesmoke;
    background-color: #003806;
}
#romanicogermanico {
    font-style: italic !important;

}
li {
    color: whitesmoke;
    background-color: #003806;
}